*{
font-family:Verdana, Geneva ,Tahoma , sans-serif;
}
.card_iphone{
border: 2px solid black;
width: 500px;
display: flex;
box-shadow: 7px 7px #000000;
}
.size{
display:flex;
align-items:center;
justify-content:space-between;
width:200px;
}
.size2{
display:flex;
align-items:center;
justify-content:space-between;
width:200px;
}
.btn{
width:60px;
height:40px;
border-radius: 10px;
background-color: #782affb2;
color:white;
font-size:14px;
}
.btn-size:hover{
 background-color:#792aff;
}
.counter{
display:flex;
align-items:center;
}
#value{
margin:0 10px
}
.price{
font-size:25px;
border-radius:20px;
margin-left:30px;
}
.price2{
font-size:25px;
border-radius:20px;
margin-left:30px;
}
.price-block{
display:flex;
align-items:center;
}
#buy{
background-color:#792aff;
color:white;
width:90%;
height:40px;
border-radius:10px;
font-size:14px;
}
.active{
background-color:#792aff;
}
.active2{
background-color:#792aff;
}