@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
*{font-family:"comfortaa","sans-serif";
margin:0;
}
.main-block,.about-block,.skills-block,.works-block,.comments-block{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:70vh;
}
section{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
min-height:100vh;
position:relative;
}
#main{
background-color:darkblue;
}
#about{
background-color:purple;
}
#skills{
background-color:blue;
}
#works{
background-color:orange;
}
#comments{
background-color:yellow;
}
.main-block{
flex-direction:column;
height:100vh;
}
.main-content{
background-color:lightblue;
background-repeat: no-repeat;
background-size:contain;
width:849px;
height:223px;
padding-left:30px;
}
.main-title{
padding-top:67px;
color:#2B2D35;
font-size:80px;
}
.main-subtitle{
font-family:"Comfortaa";
color:#2B2D35;
font-size:20px;
}
.button{
width:200px;
height:60px;
border-radius:100px;
border:2px solid #000;
background:#BBFF2c;
display:flex;
justify-content:center;
align-items:center;
box-shadow:5px 5px 0 #000000;
margin-top:20px;
transition-duration:0.3s
}
.button a{
font-size:20px;
text-decoration:none;
}
.button:hover{
background:#a0d826
}